/*************************************
 * Layout                            *
 *************************************/

* { box-sizing: border-box; }


form#Search {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.control {}
.search {
  flex: 80%;
  -webkit-flex: 80%;
  margin-right: 1em;
  /* -webkit-align-self: stretch; */
}
.control.search input {
  width: 100%;
}
.control.submit {
  flex: 1 3em 3em;
  -webkit-flex: 1 3em 3em; /* grow shrink basis*/
}



/*************************************
 * Aesthetics                        *
 *************************************/

body {
  font-family: Helvetica, sans-serif;
  padding: 2em 1em;
}
form#Search {
  margin: 0.5em 0;
}
form#Search input {
  font-size: 1.55em;
}
form#Search button {
  display: block;
  
  padding: 0.5em 0.75em;
  margin-left: -0.5em;
  margin-top: 0.25em;
  
  font-size: 0.8em;
  
  border: solid 1px #ccc;
  border-radius: 2em;
  
  background: #ddd;
  color: #444;
}
table {
  width: 100%;
  border-collapse: collapse;
}
caption {
  display: none;
}
col.severity {
  width: 0.65em;
}
col.time {
  width: 11.5em;
}
col.diff {
  width: 4em;
}
col.sender {
  width: 7em;
}
col.host {
  width: 10em;
}
col.message {
  
}
td, th {
  text-align: left;
  padding: 0.25rem 0.5rem;
  border: solid 1px #ccc;
  vertical-align: bottom;
}
th, td {
  vertical-align: top;
}
td {
  font-family: Inconsolata, Consolas, mono-space;
}
td.severity, th.severity {
  padding: 0;
  text-indent: -1000em;
}
th.severity {
  background-color: #dcdcdc;
}
th .key {
  font-size: 75%;
  font-weight: lighter;
}
td.message {
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*
@-webkit-keyframes flash {
  0% {
    background-color: yellow;
    opacity: 1;
  }
  22% {
    background-color: yellow;
    opacity: 0.6;
  }
  77% {
    background-color: yellow;
    opacity: 0.3;
  }
  100% {
    background-color: inherit;
  }
}
tr.flash td {
  -webkit-animation-name: flash;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
  -moz-animation-name: flash;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
}
*/

.severity.emergency {
  background-color: #43000C;
}
td.time, td.diff {
  text-align: right;
}
.severity.alert {
  background-color: #720013;
}
.severity.critical {
  background-color: #9B001C;
}
.severity.error {
  background-color: #CF0638;
}
.severity.warning {
  background-color: #FA6632;
}
.severity.notice {
  background-color: #0A6789;
}
.severity.info {
  background-color: #0A6789;
}
.severity.config {
  background-color: #FECD23;
}
.severity.debug {
  background-color: #0A996F;
}
.severity.fine {
  background-color: #DEE7E7;
}
.severity.finer {
  background-color: #DEE7E7;
}
.severity.finest {
  background-color: #DEE7E7;
}