/*************************************
 * Layout                            *
 *************************************/

/* Page layout */
* { box-sizing: border-box; }
html, body {
  margin:0;
  padding: 0;
}

#Body {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  
  position: absolute;
  right: 0;
  transition: margin-left 0.5s ease;
  margin-left: 2em;
  height: 100vh;
  
  z-index: 100;
}
#Body.collapsed {
  transition: margin-left 0.5s ease;
  margin-left: 20em;
}

#FacetsContainer {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 20em;
  height: 100vh;
}

header, nav, article {
  width: 100%;
}
header {
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
}
nav {
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
}

article {
  flex: 1;
  -webkit-flex: 1;
  overflow-y: scroll;
}
footer {
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
}

/* Search */
form#Search {
  /*width: 100%;*/
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
#Search .search {
          flex: 1 1 0;
  -webkit-flex: 1 1 0;
  /* -webkit-align-self: stretch; */
}
#Search .facet-handle {}
#Search .submit {
  margin-left: 1em;
}
/*.control { outline: solid 1px orange; }*/

.control.search input {
  width: 100%;
}
#Search .facet-handle button {

}

/* Facets */
form#Facets {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.facet {
  /*outline: solid 1px red;*/
  padding: 0;
  margin-right: 2em;
  /* outline: solid 1px red; */
}
.facet:last-child {
  margin-right: 0;
}
header, nav, article, footer {  
  padding: 0.5em 1em;
}
nav {
  padding-bottom: 0;
}
article {
  padding-top: 0;
  margin-top: -1px;
}


/*************************************
 * Aesthetics                        *
 *************************************/

body {
  font-family: Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin: 0;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
table caption {
  display: none;
}

#Body {
  background: white;
  border-left: solid 1px #ccc;
}
#Body.collapsed {
  /*box-shadow: -8px 0px 12px 0px rgba(0, 0, 0, 0.55);*/
}
#FacetsContainer {
  background: #333;
  color: #ccc;
}
#FacetsContainer.collapsed {

}

header h1 {
  font-size: 1.25em;
}
header {
  border-bottom: solid 1px #ccc;
}
footer {
  border-top: solid 1px #ccc;
}
form#Search {
  margin-bottom: 0.5em;
}
form#Search input {
  font-size: 1.55em;
}
form#Search button {
  display: block;
  
  padding: 0.5em 0.75em;
  margin-left: -0.5em;
  margin-top: 0.25em;
  
  font-size: 0.8em;
  
  border: solid 1px #ccc;
  border-radius: 2em;
  
  background: #ddd;
  color: #444;
}
form#Search .control.facet-handle button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
form#Facets {}

col.severity {
  width: 0.65em;
}
col.time {
  width: 11.5em;
}
col.diff {
  width: 5em;
}
col.sender {
  width: 7em;
}
col.host {
  width: 10em;
}
col.message {
  
}
td, th {
  text-align: left;
  padding: 0.25rem 0.5rem;
  border-style: solid;
  border-width: 1px;
}
#Logs th, #Logs td {
  vertical-align: top;
  border-color: #ccc;
}
#Logs td {
  font-family: Inconsolata, Consolas, mono-space;
}
#Logs td.severity, #Logs th.severity {
  padding: 0;
  text-indent: -1000em;
}
th.severity {
  background-color: #dcdcdc;
}
th .key {
  font-size: 75%;
  font-weight: lighter;
}
td.message {
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.message em {
  background-color: rgba(250, 250, 55, 0.5);
  padding: 0.25em;
  border-radius: 0.15em;
  font-style: normal;
}
.facet {
  margin: 1rem 0;
}
.facet table {}
.facet th {}
.facet table th, .facet table td {
  border-color: #555;
  border-style: none none solid none;
}
.facet .facet-enabled {
  width: 2em;
}
.facet .facet-label {}
.facet .facet-frequency {
  width: 6em;
  text-align: right;
  padding-right: 1em;
}
.facet .frequency {
  background: #999;
  color: #333;
  border-radius: 1em;
  padding: 0.25em 0.75em;
  font-size: 0.8em;
}
.severity.emergency {
  background-color: #43000C;
}
td.time, td.diff {
  text-align: right;
}
.severity.alert {
  background-color: #720013;
}
.severity.critical {
  background-color: #9B001C;
}
.severity.error {
  background-color: #CF0638;
}
.severity.warning {
  background-color: #FA6632;
}
.severity.notice {
  background-color: #0A6789;
}
.severity.info {
  background-color: #0A6789;
}
.severity.config {
  background-color: #FECD23;
}
.severity.debug {
  background-color: #0A996F;
}
.severity.fine {
  background-color: #DEE7E7;
}
.severity.finer {
  background-color: #DEE7E7;
}
.severity.finest {
  background-color: #DEE7E7;
}